@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<MvcLuat.Models.Article>
@foreach(var item in Model)
{
    <div class="noi_dung">
            <div class="tach">
                    <a class="print_dieu" href="/Sections?id=@(item.ID + 5)&ChapterID=@item.ChapterID">@item.Title</a>
            </div>
    </div>
}